name: Laravel CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testing
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      # Setup PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, curl, xml, intl, mysql, pdo_mysql, zip
          coverage: none

      # Cache Composer
      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      # Install Composer deps
      - name: Install dependencies
        run: |
          composer install --no-interaction --prefer-dist --optimize-autoloader --ignore-platform-req=ext-rdkafka

      # Crear .env con variables correctas para MySQL del workflow
      - name: Create .env file
        run: |
          cp .env.example .env
          php artisan key:generate
          echo "DB_CONNECTION=mysql" >> .env
          echo "DB_HOST=127.0.0.1" >> .env
          echo "DB_PORT=3306" >> .env
          echo "DB_DATABASE=testing" >> .env
          echo "DB_USERNAME=root" >> .env
          echo "DB_PASSWORD=root" >> .env

      # Esperar MySQL
      - name: Wait for DB
        run: |
          sudo apt-get install -y mysql-client
          until mysql -h 127.0.0.1 -u root -proot -e "SHOW DATABASES;" ; do
            sleep 2
          done

      # Migraciones
      - name: Run migrations
        run: php artisan migrate --force

      # Optimizar Laravel
      - name: Laravel Optimize
        run: |
          mkdir -p storage/framework/views
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache

      # Tests
      - name: Run tests
        run: php artisan test --parallel
